NEXT_PUBLIC_SUPABASE_URL=https://nhflhtwtqhclkciqanug.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_AaDFiA9CARRTKsXBxXM-xg_0Cz1SsWR
DATABASE_URL=postgresql://postgres:Smartsubbackend1@db.nhflhtwtqhclkciqanug.supabase.co:5432/postgres